/* @see https://ant.design/docs/react/compatible-style#tailwindcss-v4 */
@layer theme, base, antd, components, utilities;

@import "tailwindcss";

/* biome-ignore lint/suspicious/noUnknownAtRules: ignore tailwind style */
@theme inline {
  --font-sans: var(--font-geist-sans), var(--font-sans);
  --font-mono: var(--font-geist-mono), var(--font-mono);
}

body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
